datos/esquemafac.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Facturacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Factura" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Factura">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Cliente"/>
        <xs:element name="Fecha" type="xs:date"/>
        <xs:element name="Servicio" type="xs:string"/>
        <xs:element name="Cantidad" type="xs:integer"/>
        <xs:element name="ValorUnitario" type="xs:integer"/>
        <xs:element name="ValorTotal" type="xs:integer"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Nombre" type="xs:string"/>
        <xs:element name="Documento" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
